{% extends base %}

{% block postamble %}
<!-- https://shoelace.style/ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.19/dist/shoelace/shoelace.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.19/dist/shoelace/shoelace.esm.js"></script>
<style>
    body, .bk-root .bk, .bk-root .bk:before, .bk-root .bk:after {
        font-family: var(--sl-input-font-family);
    }
</style>
{% endblock %}

<!-- goes in body -->
{% block contents %}
<div id="main">
    <div id="gui4us-header">
        {{ embed(roots.header) }}
    </div>
    <!--Main content-->
    <div id="gui4us-content">
<!--Place for golden layout content.-->
    </div>
<!--Dialog window-->
    <br/>
    <!-- https://shoelace.style/components/dialog -->
    <sl-dialog label="{{dialog_title}}" class="dialog-overview" style="--width: 800px;--height: 300px;">
        {{ embed(roots.dialog) }}
    <sl-button slot="footer" type="primary">Open</sl-button>
    </sl-dialog>
</div>

<!--Dialog window-->
<script>
(() => {
    const dialog = document.querySelector(".dialog-overview");
    {% if dialog_autostart %}
        window.addEventListener("DOMContentLoaded", function() {
            dialog.show();
        }, false);
    {% endif %}
})();
</script>

<!--Layout -->
<style>
:host {
    width: auto;
}
</style>

<script>
var config = {
    settings: {
        hasHeaders: true,
        constrainDragToContainer: true,
        reorderEnabled: true,
        selectionEnabled: false,
        popoutWholeStack: false,
        blockedPopoutsThrowError: true,
        closePopoutsOnUnload: true,
        showPopoutIcon: false,
        showMaximiseIcon: true,
        showCloseIcon: false
    },
    content: [{
        type: "row",
        content:[
            {
                type: "component",
                componentName: "view",
                componentState: {
                    model: '<div style="width: 100%; height: 100%">{{embed(roots.control_panel)}}</div>',
                    title: "Control Panel",
                    width: 350,
                    css_classes:["scrollable"]
                },
                isClosable: false,
            },
            {
                type: "column",
                content: [
                    {% for row in display_rows %}
                    {
                        type: "row",
                        content:[
                            {% for display in row %}
                                {% if display is not none %}
                                {
                                    type: "component",
                                    componentName: "view",
                                    componentState: { label: '{{embed(roots.display{ij})}}', title: "{{display.cfg.title}}"},
                                    isClosable: false,
                                },
                                {% else %}
                                {
                                    type: "component",
                                    componentName: "view",
                                    componentState: { label: 'No display', title: 'No display'},
                                    isClosable: false,
                                },
                                {% endif %}
                            {% endfor %}
                        ]
                    },
                    {% endfor %}
                    {
                        type: "stack",
                        content:[
                            {
                                type: "component",
                                componentName: "view",
                                componentState: {
                                    model: '{{embed(roots.console)}}',
                                    title: "Log",
                                },
                                isClosable: false,
                            },
                            {
                                type: "component",
                                componentName: "view",
                                componentState: {
                                    model: '{{embed(roots.envs)}}',
                                    title: "Environments",
                                },
                                isClosable: false,
                            }
                        ],
                        height: 10
                    }
                ]
            }
        ]
    }]
};

var myLayout = new GoldenLayout(config, "#gui4us-content");
$("#gui4us-content").css({width: "99vw", height: "93vh", margin: "0px"});

myLayout.registerComponent("view", function(container, componentState){
    const {width, css_classes} = componentState;
    if(width) {
        container.on("open", () => container.setSize(width, container.height));
    }
    if (css_classes) {
        css_classes.map((item) => container.getElement().addClass(item));
    }
    container.setTitle(componentState.title);
    container.getElement().html(componentState.model);
    container.on("resize", () => window.dispatchEvent(new Event("resize")));
});

myLayout.init();
</script>


{% endblock %}